{% extends('layouts/app.html.twig') %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <p class="title text-center">Backups</p>
            <p class="subTitle text-center">Because they are more important than you think</p>
            <div class="col-12 backupSegment">
                <div class="col-6 backupList">
                    {% if backups|length > 0 %}
                        <div class="col-12 d-inline-flex legend">
                            <div class="col-3 font-weight-bold"><span>Server</span></div>
                            <div class="col-3 font-weight-bold"><span>Created at</span></div>
                            <div class="col-3 font-weight-bold"><span>Size</span></div>
                            <div class="col-3 font-weight-bold"><span>Actions</span></div>
                        </div>
                        {% for backup in backups %}
                            <div class="col-12 backupItem d-inline-flex">
                                <div class="col-3"><span>{{ server.name }}</span></div>
                                <div class="col-3"><span>{{ backup.createdat|date('d/m/Y') }}</span></div>
                                <div class="col-3"><span>{{ backup.size }}</span></div>
                                <div class="col-3 d-inline-flex">
                                    <a href="{{ url('backup_download') }}" class="col-6"><button>Download</button></a>
{#                                  <a href="{{ url('backup_download') }}" class="col-6"><button></button></a>#}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12 text-center">
                            <p class="subTitle">... are empty</p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-6 backupSettings">
                    <div class="col-12 newBackup text-center">
                        <p class="subTitle">New backup</p>
                        <span>Create backup of current world in such shape as it is now</span>
                        {{ form_start(createNewBackup) }}
                            {{ form_widget(createNewBackup) }}
                        {{ form_end(createNewBackup) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
